html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: georgia;
}

h1 {
  color: white;
  background-color: olive;
  text-align: center;
  margin-top: 0.5rem;
}

h2 {
  color: olive;
  text-align: center;
  font-variant: small-caps;
  margin-bottom: 0.5rem;
}

.userSelectText {
  display: inline;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  color: olive;
}

.userSelectLine {
  display: inline;
}

.userSelect {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  max-width: 300px;
  /* max-height: 20px; */
  display: inline-block;
}

.selectText {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  color: olive;
}

p {
  margin-left: 0.5rem;
}

button {
  border-radius: 5px;
  background: transparent;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  background-color: olive;
  color: white;
}

.addBookForm {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.addBookField {
  margin: 0.5rem;
}

.panel {
  display: grid;
  padding: 1rem 10rem;
}

.card {
  color: rgb(15, 14, 14);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0.5rem;
  /* max-width: 250px; */
}

.addBookHeader {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  color: olive;
}

.saveButton {
  margin-top: 1rem;
  margin-left: 0rem !important;
}

.selectUserRec {
  margin-left: 0.5rem;
  margin-top: 0rem;
}

.recUserSelect {
  margin-top: 0rem;
  margin-right: 0.5rem;
}

p .recUserSelectText {
  margin-bottom: 0rem !important;
}
